In [127]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [129]:
d2013 = pd.read_csv("./f1data/Formula1_2013season_raceResults.csv")
d2014 = pd.read_csv("./f1data/Formula1_2014season_raceResults.csv")
d2015 = pd.read_csv("./f1data/Formula1_2015season_raceResults.csv")
d2016 = pd.read_csv("./f1data/Formula1_2016season_RaceResults.csv")
d2017 = pd.read_csv("./f1data/Formula1_2017season_RaceResults.csv")
d2018 = pd.read_csv("./f1data/Formula1_2018season_RaceResults.csv")
d2019 = pd.read_csv("./f1data/Formula1_2019season_raceResults.csv")
d2020 = pd.read_csv("./f1data/Formula1_2020season_raceResults.csv")
d2021 = pd.read_csv("./f1data/Formula1_2021season_raceResults.csv")
d2022 = pd.read_csv("./f1data/Formula1_2022season_raceResults.csv")
d2023 = pd.read_csv("./f1data/Formula1_2023season_raceResults.csv")

In [131]:
display(d2013.head(), d2014.head(), d2015.head(), d2016.head(), d2017.head(), d2018.head(), d2019.head(), d2020.head(), d2021.head(), d2022.head(), d2023.head())

,Track,Position,No,Driver,Team,Starting Grid,Laps,Time/Retired,Points,Fastest Lap
0,Australia,1,7,Kimi Raikkönen,Lotus Renault,7,58,1:30:03.225,25,1:29.274
1,Australia,2,3,Fernando Alonso,Ferrari,5,58,+12.451,18,1:29.560
2,Australia,3,1,Sebastian Vettel,Red Bull Racing Renault,1,58,+22.346,15,1:30.409
3,Australia,4,4,Felipe Massa,Ferrari,4,58,+33.577,12,1:30.239
4,Australia,5,10,Lewis Hamilton,Mercedes,3,58,+45.561,10,1:29.759

,Track,Position,No,Driver,Team,Starting Grid,Laps,Time/Retired,Points,Fastest Lap
0,Australia,1,6,Nico Rosberg,Mercedes,3,57,1:32:58.710,25,1:32.478
1,Australia,EX,3,Daniel Ricciardo,Red Bull Racing Renault,2,57,+24.525,0,1:33.066
2,Australia,2,20,Kevin Magnussen,McLaren Mercedes,4,57,+26.777,18,1:32.917
3,Australia,3,22,Jenson Button,McLaren Mercedes,10,57,+30.027,15,1:33.186
4,Australia,4,14,Fernando Alonso,Ferrari,5,57,+35.284,12,1:32.616

,Track,Position,No,Driver,Team,Starting Grid,Laps,Time/Retired,Points,Fastest Lap
0,Australia,1,44,Lewis Hamilton,Mercedes,1,58,1:31:54.067,25,1:30.945
1,Australia,2,6,Nico Rosberg,Mercedes,2,58,+1.360,18,1:31.092
2,Australia,3,5,Sebastian Vettel,Ferrari,4,58,+34.523,15,1:31.457
3,Australia,4,19,Felipe Massa,Williams Mercedes,3,58,+38.196,12,1:31.719
4,Australia,5,12,Felipe Nasr,Sauber Ferrari,10,58,+95.149,10,1:32.612

,Track,Position,No,Driver,Team,Starting Grid,Laps,Time/Retired,Points,Fastest Lap
0,Australia,1,6,Nico Rosberg,Mercedes,2,57,1:48:15.565,25,1:30.557
1,Australia,2,44,Lewis Hamilton,Mercedes,1,57,+8.060,18,1:30.646
2,Australia,3,5,Sebastian Vettel,Ferrari,3,57,+9.643,15,1:29.951
3,Australia,4,3,Daniel Ricciardo,Red Bull Racing Tag Heuer,8,57,+24.330,12,1:28.997
4,Australia,5,19,Felipe Massa,Williams Mercedes,6,57,+58.979,10,1:32.288

,Track,Position,No,Driver,Team,Starting Grid,Laps,Time/Retired,Points,Fastest Lap
0,Australia,1,5,Sebastian Vettel,Ferrari,2,57,1:24:11.672,25,1:26.638
1,Australia,2,44,Lewis Hamilton,Mercedes,1,57,+9.975,18,1:27.033
2,Australia,3,77,Valtteri Bottas,Mercedes,3,57,+11.250,15,1:26.593
3,Australia,4,7,Kimi Raikkönen,Ferrari,4,57,+22.393,12,1:26.538
4,Australia,5,33,Max Verstappen,Red Bull Racing Tag Heuer,5,57,+28.827,10,1:26.964

,Track,Position,No,Driver,Team,Starting Grid,Laps,Time/Retired,Points,Fastest Lap
0,Australia,1,5,Sebastian Vettel,Ferrari,3,58,1:29:33.283,25,1:26.469
1,Australia,2,44,Lewis Hamilton,Mercedes,1,58,+5.036,18,1:26.444
2,Australia,3,7,Kimi Raikkönen,Ferrari,2,58,+6.309,15,1:26.373
3,Australia,4,3,Daniel Ricciardo,Red Bull Racing Tag Heuer,8,58,+7.069,12,1:25.945
4,Australia,5,14,Fernando Alonso,McLaren Renault,10,58,+27.886,10,1:26.978

,Track,Position,No,Driver,Team,Starting Grid,Laps,Total Time/Gap/Retirement,Points,Fastest Lap
0,Australia,1,77,Valtteri Bottas,Mercedes,2,58,1:25:27.325,26,Yes
1,Australia,2,44,Lewis Hamilton,Mercedes,1,58,+20.886,18,No
2,Australia,3,33,Max Verstappen,Red Bull Racing Honda,4,58,+22.520,15,No
3,Australia,4,5,Sebastian Vettel,Ferrari,3,58,+57.109,12,No
4,Australia,5,16,Charles Leclerc,Ferrari,5,58,+58.230,10,No

,Track,Position,No,Driver,Team,Starting Grid,Laps,Total Time/Gap/Retirement,Points,Fastest Lap
0,Austria,1,77,Valtteri Bottas,Mercedes,1,71,1:30:55.739,25,No
1,Austria,2,16,Charles Leclerc,Ferrari,7,71,+2.700,18,No
2,Austria,3,4,Lando Norris,McLaren Renault,3,71,+5.491,16,Yes
3,Austria,4,44,Lewis Hamilton,Mercedes,5,71,+5.689,12,No
4,Austria,5,55,Carlos Sainz,McLaren Renault,8,71,+8.903,10,No

,Track,Position,No,Driver,Team,Starting Grid,Laps,Time/Retired,Points,+1 Pt,Fastest Lap
0,Bahrain,1,44,Lewis Hamilton,Mercedes,2.0,56,1:32:03.897,25.0,No,1:34.015
1,Bahrain,2,33,Max Verstappen,Red Bull Racing Honda,1.0,56,+0.745,18.0,No,1:33.228
2,Bahrain,3,77,Valtteri Bottas,Mercedes,3.0,56,+37.383,16.0,Yes,1:32.090
3,Bahrain,4,4,Lando Norris,McLaren Mercedes,7.0,56,+46.466,12.0,No,1:34.396
4,Bahrain,5,11,Sergio Perez,Red Bull Racing Honda,11.0,56,+52.047,10.0,No,1:33.970

,Track,Position,No,Driver,Team,Starting Grid,Laps,Time/Retired,Points,+1 Pt,Fastest Lap
0,Bahrain,1,16,Charles Leclerc,Ferrari,1,57,1:37:33.584,26,Yes,1:34.570
1,Bahrain,2,55,Carlos Sainz,Ferrari,3,57,+5.598,18,No,1:35.740
2,Bahrain,3,44,Lewis Hamilton,Mercedes,5,57,+9.675,15,No,1:36.228
3,Bahrain,4,63,George Russell,Mercedes,9,57,+11.211,12,No,1:36.302
4,Bahrain,5,20,Kevin Magnussen,Haas Ferrari,7,57,+14.754,10,No,1:36.623

,Track,Position,No,Driver,Team,Starting Grid,Laps,Time/Retired,Points,Set Fastest Lap,Fastest Lap Time
0,Bahrain,1,1,Max Verstappen,Red Bull Racing Honda RBPT,1,57,1:33:56.736,25,No,1:36.236
1,Bahrain,2,11,Sergio Perez,Red Bull Racing Honda RBPT,2,57,+11.987,18,No,1:36.344
2,Bahrain,3,14,Fernando Alonso,Aston Martin Aramco Mercedes,5,57,+38.637,15,No,1:36.156
3,Bahrain,4,55,Carlos Sainz,Ferrari,4,57,+48.052,12,No,1:37.130
4,Bahrain,5,44,Lewis Hamilton,Mercedes,7,57,+50.977,10,No,1:36.546

In [133]:
d2013["Year"] = 2013
d2014["Year"] = 2014
d2015["Year"] = 2015
d2016["Year"] = 2016
d2017["Year"] = 2017
d2018["Year"] = 2018
d2019["Year"] = 2019
d2020["Year"] = 2020
d2021["Year"] = 2021
d2022["Year"] = 2022
d2023["Year"] = 2023
d2020.rename(columns={'Total Time/Gap/Retirement': 'Time/Retired'}, inplace=True)
d2019.rename(columns={'Total Time/Gap/Retirement': 'Time/Retired'}, inplace=True)
d2023.rename(columns={'Fastest Lap Time': 'Fastest Lap'}, inplace=True)
d2021.rename(columns={'+1 Pt': 'Set Fastest Lap'}, inplace=True)
d2022.rename(columns={'+1 Pt': 'Set Fastest Lap'}, inplace=True)

In [135]:
#2019,2020 no fastest lap timesfor each driver

In [137]:
display(d2013.head(), d2014.head(), d2015.head(), d2016.head(), d2017.head(), d2018.head(), d2019.head(), d2020.head(), d2021.head(), d2022.head(), d2023.head())

,Track,Position,No,Driver,Team,Starting Grid,Laps,Time/Retired,Points,Fastest Lap,Year
0,Australia,1,7,Kimi Raikkönen,Lotus Renault,7,58,1:30:03.225,25,1:29.274,2013
1,Australia,2,3,Fernando Alonso,Ferrari,5,58,+12.451,18,1:29.560,2013
2,Australia,3,1,Sebastian Vettel,Red Bull Racing Renault,1,58,+22.346,15,1:30.409,2013
3,Australia,4,4,Felipe Massa,Ferrari,4,58,+33.577,12,1:30.239,2013
4,Australia,5,10,Lewis Hamilton,Mercedes,3,58,+45.561,10,1:29.759,2013

,Track,Position,No,Driver,Team,Starting Grid,Laps,Time/Retired,Points,Fastest Lap,Year
0,Australia,1,6,Nico Rosberg,Mercedes,3,57,1:32:58.710,25,1:32.478,2014
1,Australia,EX,3,Daniel Ricciardo,Red Bull Racing Renault,2,57,+24.525,0,1:33.066,2014
2,Australia,2,20,Kevin Magnussen,McLaren Mercedes,4,57,+26.777,18,1:32.917,2014
3,Australia,3,22,Jenson Button,McLaren Mercedes,10,57,+30.027,15,1:33.186,2014
4,Australia,4,14,Fernando Alonso,Ferrari,5,57,+35.284,12,1:32.616,2014

,Track,Position,No,Driver,Team,Starting Grid,Laps,Time/Retired,Points,Fastest Lap,Year
0,Australia,1,44,Lewis Hamilton,Mercedes,1,58,1:31:54.067,25,1:30.945,2015
1,Australia,2,6,Nico Rosberg,Mercedes,2,58,+1.360,18,1:31.092,2015
2,Australia,3,5,Sebastian Vettel,Ferrari,4,58,+34.523,15,1:31.457,2015
3,Australia,4,19,Felipe Massa,Williams Mercedes,3,58,+38.196,12,1:31.719,2015
4,Australia,5,12,Felipe Nasr,Sauber Ferrari,10,58,+95.149,10,1:32.612,2015

,Track,Position,No,Driver,Team,Starting Grid,Laps,Time/Retired,Points,Fastest Lap,Year
0,Australia,1,6,Nico Rosberg,Mercedes,2,57,1:48:15.565,25,1:30.557,2016
1,Australia,2,44,Lewis Hamilton,Mercedes,1,57,+8.060,18,1:30.646,2016
2,Australia,3,5,Sebastian Vettel,Ferrari,3,57,+9.643,15,1:29.951,2016
3,Australia,4,3,Daniel Ricciardo,Red Bull Racing Tag Heuer,8,57,+24.330,12,1:28.997,2016
4,Australia,5,19,Felipe Massa,Williams Mercedes,6,57,+58.979,10,1:32.288,2016

,Track,Position,No,Driver,Team,Starting Grid,Laps,Time/Retired,Points,Fastest Lap,Year
0,Australia,1,5,Sebastian Vettel,Ferrari,2,57,1:24:11.672,25,1:26.638,2017
1,Australia,2,44,Lewis Hamilton,Mercedes,1,57,+9.975,18,1:27.033,2017
2,Australia,3,77,Valtteri Bottas,Mercedes,3,57,+11.250,15,1:26.593,2017
3,Australia,4,7,Kimi Raikkönen,Ferrari,4,57,+22.393,12,1:26.538,2017
4,Australia,5,33,Max Verstappen,Red Bull Racing Tag Heuer,5,57,+28.827,10,1:26.964,2017

,Track,Position,No,Driver,Team,Starting Grid,Laps,Time/Retired,Points,Fastest Lap,Year
0,Australia,1,5,Sebastian Vettel,Ferrari,3,58,1:29:33.283,25,1:26.469,2018
1,Australia,2,44,Lewis Hamilton,Mercedes,1,58,+5.036,18,1:26.444,2018
2,Australia,3,7,Kimi Raikkönen,Ferrari,2,58,+6.309,15,1:26.373,2018
3,Australia,4,3,Daniel Ricciardo,Red Bull Racing Tag Heuer,8,58,+7.069,12,1:25.945,2018
4,Australia,5,14,Fernando Alonso,McLaren Renault,10,58,+27.886,10,1:26.978,2018

,Track,Position,No,Driver,Team,Starting Grid,Laps,Time/Retired,Points,Fastest Lap,Year
0,Australia,1,77,Valtteri Bottas,Mercedes,2,58,1:25:27.325,26,Yes,2019
1,Australia,2,44,Lewis Hamilton,Mercedes,1,58,+20.886,18,No,2019
2,Australia,3,33,Max Verstappen,Red Bull Racing Honda,4,58,+22.520,15,No,2019
3,Australia,4,5,Sebastian Vettel,Ferrari,3,58,+57.109,12,No,2019
4,Australia,5,16,Charles Leclerc,Ferrari,5,58,+58.230,10,No,2019

,Track,Position,No,Driver,Team,Starting Grid,Laps,Time/Retired,Points,Fastest Lap,Year
0,Austria,1,77,Valtteri Bottas,Mercedes,1,71,1:30:55.739,25,No,2020
1,Austria,2,16,Charles Leclerc,Ferrari,7,71,+2.700,18,No,2020
2,Austria,3,4,Lando Norris,McLaren Renault,3,71,+5.491,16,Yes,2020
3,Austria,4,44,Lewis Hamilton,Mercedes,5,71,+5.689,12,No,2020
4,Austria,5,55,Carlos Sainz,McLaren Renault,8,71,+8.903,10,No,2020

,Track,Position,No,Driver,Team,Starting Grid,Laps,Time/Retired,Points,Set Fastest Lap,Fastest Lap,Year
0,Bahrain,1,44,Lewis Hamilton,Mercedes,2.0,56,1:32:03.897,25.0,No,1:34.015,2021
1,Bahrain,2,33,Max Verstappen,Red Bull Racing Honda,1.0,56,+0.745,18.0,No,1:33.228,2021
2,Bahrain,3,77,Valtteri Bottas,Mercedes,3.0,56,+37.383,16.0,Yes,1:32.090,2021
3,Bahrain,4,4,Lando Norris,McLaren Mercedes,7.0,56,+46.466,12.0,No,1:34.396,2021
4,Bahrain,5,11,Sergio Perez,Red Bull Racing Honda,11.0,56,+52.047,10.0,No,1:33.970,2021

,Track,Position,No,Driver,Team,Starting Grid,Laps,Time/Retired,Points,Set Fastest Lap,Fastest Lap,Year
0,Bahrain,1,16,Charles Leclerc,Ferrari,1,57,1:37:33.584,26,Yes,1:34.570,2022
1,Bahrain,2,55,Carlos Sainz,Ferrari,3,57,+5.598,18,No,1:35.740,2022
2,Bahrain,3,44,Lewis Hamilton,Mercedes,5,57,+9.675,15,No,1:36.228,2022
3,Bahrain,4,63,George Russell,Mercedes,9,57,+11.211,12,No,1:36.302,2022
4,Bahrain,5,20,Kevin Magnussen,Haas Ferrari,7,57,+14.754,10,No,1:36.623,2022

,Track,Position,No,Driver,Team,Starting Grid,Laps,Time/Retired,Points,Set Fastest Lap,Fastest Lap,Year
0,Bahrain,1,1,Max Verstappen,Red Bull Racing Honda RBPT,1,57,1:33:56.736,25,No,1:36.236,2023
1,Bahrain,2,11,Sergio Perez,Red Bull Racing Honda RBPT,2,57,+11.987,18,No,1:36.344,2023
2,Bahrain,3,14,Fernando Alonso,Aston Martin Aramco Mercedes,5,57,+38.637,15,No,1:36.156,2023
3,Bahrain,4,55,Carlos Sainz,Ferrari,4,57,+48.052,12,No,1:37.130,2023
4,Bahrain,5,44,Lewis Hamilton,Mercedes,7,57,+50.977,10,No,1:36.546,2023

In [139]:
test1 = pd.DataFrame({"apples":[1,2,3,4],"brand":["whi","ji","di","as"]})
test2 = pd.DataFrame({"brand":["wh2i","j1i","d3i","4as"],"apples":[5,6,7,8]})
dfnames = [test1,test2]
test3 = pd.concat(dfnames).reset_index(drop=True)
test3

   apples brand
0       1   whi
1       2    ji
2       3    di
3       4    as
4       5  wh2i
5       6   j1i
6       7   d3i
7       8   4as

In [141]:
alldf = [d2013,d2014,d2015,d2016,d2017,d2018,d2019,d2020,d2021,d2022,d2023]
final = pd.concat(alldf).reset_index(drop=True)

In [143]:
final

,Track,Position,No,Driver,Team,Starting Grid,Laps,Time/Retired,Points,Fastest Lap,Year,Set Fastest Lap
0,Australia,1,7,Kimi Raikkönen,Lotus Renault,7.0,58,1:30:03.225,25.0,1:29.274,2013,NaN
1,Australia,2,3,Fernando Alonso,Ferrari,5.0,58,+12.451,18.0,1:29.560,2013,NaN
2,Australia,3,1,Sebastian Vettel,Red Bull Racing Renault,1.0,58,+22.346,15.0,1:30.409,2013,NaN
3,Australia,4,4,Felipe Massa,Ferrari,4.0,58,+33.577,12.0,1:30.239,2013,NaN
4,Australia,5,10,Lewis Hamilton,Mercedes,3.0,58,+45.561,10.0,1:29.759,2013,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4558,Abu Dhabi,16,2,Logan Sargeant,Williams Mercedes,20.0,58,+87.791,0.0,1:28.580,2023,No
4559,Abu Dhabi,17,24,Guanyu Zhou,Alfa Romeo Ferrari,19.0,58,+89.422,0.0,1:28.746,2023,No
4560,Abu Dhabi,18,55,Carlos Sainz,Ferrari,16.0,57,DNF,0.0,1:29.452,2023,No
4561,Abu Dhabi,19,77,Valtteri Bottas,Alfa Romeo Ferrari,18.0,57,+1 lap,0.0,1:29.863,2023,No
4562,Abu Dhabi,20,20,Kevin Magnussen,Haas Ferrari,17.0,57,+1 lap,0.0,1:29.934,2023,No

In [145]:
final.to_csv(r"./f1data/F1_results_2013-2023.csv", sep=',', encoding='utf-8',index=False)